{{#isArray}}{{#vendorExtensions.x-spring-paginated}}org.springframework.data.domain.Page<{{{returnBaseType}}}>{{/vendorExtensions.x-spring-paginated}}{{^vendorExtensions.x-spring-paginated}}{{#uniqueItems}}Set{{/uniqueItems}}{{^uniqueItems}}List{{/uniqueItems}}<{{{returnBaseType}}}>{{/vendorExtensions.x-spring-paginated}}{{/isArray}}{{^isArray}}{{{returnType}}}{{/isArray}}